.buttonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #010011;
  border: none;
  cursor: pointer;
}

.link {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #fefefe;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.link::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: #02000f;
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

.link:hover::before {
  transform: scaleY(0);
}

.link::after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #02000f;
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

.link:hover::after {
  transform: scaleX(0);
}

.content {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive styles */
@media screen and (max-width: 996px) {
  .link {
    padding: 12px 24px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .link {
    padding: 10px 20px;
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .link {
    padding: 8px 16px;
    font-size: 14px;
  }
}
